<!-- <div class="container"> -->
<app-navbar></app-navbar>
<!-- </div> -->
<router-outlet></router-outlet>

<!--  
check-points:


Use Angular 10+ 
                      -@done
Create login page  
                      -@comp done
Store username/password in  -session storage 
                      -@done in login comp
Call API using services and show data on dashboard page  
                      -@done in dashboard comp + apilibrary service module
Create screen using Reactive form, create custom validator and store data in json file 
                      -@reactive form: create-employee-screen compo
                      -@custom validator:create-employee-screen compo-> firstname spacing validator
                      -@store data in json: db.json(stored from create-employee-screen compo + used         employee-details-service) + Employeedetails(interface)
Use directives/pipes    
                      -@directive: ngfor in dashboard + create employee page
                      -@pipes: employee dashboard page + create employee screen page =>uppercase
Use rxjs operators  
                      -@done
Create basic unit test cases using jasmine/karma
                      -@done logout page + login page
---------------------------
Use bootstrap for responsive pages  
                      -@done
Use lazy loading feature
                      -@done in log out page
Protect pages using Auth guard/interceptors
                      -@done for login page : auth guard+auth service
-----------------------------
Dummy APIs you can use -
https://reqres.in/api/users?page=2
https://dummy.restapiexample.com/api/v1/employees
-----------------------------
Once done, upload project over GIT and share URL for review. You need to complete this POC by 26th Aug.

-->
